img{
 width: 200px;
 height: 180px;
}

h1{
    font-style: oblique;
    color: blueviolet;
}

button{
    background-color: pink;
    color: blueviolet;
}

/* #container{
    padding-left: 200px;
} */